# Python
__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
*.egg
dist/
build/
*.so

# Environment & Virtualenvs
.venv/
venv/
env/
.env
*.env

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/
usage_analytics.jsonl

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.bak
*.tmp
temp/

bandit_report.html
bandit_report.txt
.semgrepignore
safety_full.txt
botinok*.zip
docs.zip
.coverage
*report*

# Sphinx Documentation Build
docs/build/
docs/html/
_build/
