aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
attrs
Authlib
bandit
black
boltons
bracex
certifi
cffi
charset-normalizer
click
click-option-group
colorama
coverage
cryptography
distro
dotenv
dparse
eval_type_backport
exceptiongroup
face

filelock
frozenlist
glom
googleapis-common-protos
h11
httpcore
httpx
httpx-sse
idna
importlib_metadata
iniconfig
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
marshmallow
mcp
mdurl
multidict
mypy_extensions
nltk
numpy
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-threading
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
packaging
pathspec
peewee
pillow
platformdirs
pluggy
propcache
protobuf
pycparser
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pyTelegramBotAPI
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-dotenv
python-multipart
python-telegram-bot
pytokens
pytz

PyYAML
referencing
regex
requests
rich
rpds-py
ruamel.yaml
ruamel.yaml.clib
safety
safety-schemas
semgrep
shellingham
sniffio
sse-starlette
starlette
stevedore
tabulate
tenacity
together
tomli
tomlkit
tqdm
typer
typing-inspection
typing_extensions
urllib3
uvicorn
wcmatch
wrapt
yarl
zipp
imageio-ffmpeg
